
// Body
$body-bg: #f5f8fa;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
