
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  font-family: $font-family;
  background-color: #444455;
  padding-top: 60px;
}

#corp_info_title, #input_area_title {
  align-items: center;
  color:white;
}

.name_and_phone {
  font-size: 1.5em;
}

#input-table {
  th {
    width:10%;
  }
  select {
    width:auto;
  }
}